<div class="bg-gray-100 h-screen flex items-center justify-center">
  <div class=" bg-white p-8 rounded-lg shadow-lg">
    <% if @user.image.present? %>
      <div class="flex justify-center mb-4">
        <%= image_tag( @user.image.url, class: "w-32 h-32 rounded-full object-cover")%>
      </div>
    <% else %>
      <div class="flex justify-center mb-4">
        <img src="https://via.placeholder.com/150" alt="Default avatar" class="w-32 h-32 rounded-full object-cover">
      </div>
    <% end %>

    <h1 class="text-3xl font-bold mb-4 text-center"><%= @user.name %></h1>

    <p class="text-gray-600">
      <strong class="font-semibold">Sex:</strong>
      <%= @user.sex %>
    </p>
    <p class="text-gray-600">
      <strong class="font-semibold">Email:</strong>
      <%= @user.email %>
    </p>
    <p class="text-gray-600 mb-6">
      <strong class="font-semibold">Age:</strong>
      <%= @user.age %>
    </p>

    <div class="flex justify-between gap-6">
      <%= link_to 'Edit', edit_user_path(@user), class: 'text-white bg-blue-500 hover:bg-blue-700 px-4 py-2 rounded-md text-sm font-medium' %>
      <%= link_to 'Back', books_path, class: 'text-white bg-gray-500 hover:bg-gray-700 px-4 py-2 rounded-md text-sm font-medium' %>
      <%= link_to 'Delete', user_path(@user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'text-white bg-red-500 hover:bg-red-700 px-4 py-2 rounded-md text-sm font-medium' %>
    </div>
  </div>
</div>